svg{
  color:white;
}

.com{
  letter-spacing: 7px;
}
@keyframes fadeOutRightInfinite {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -ms-transform: translateX(300px);
    -o-transform: translateX(300px);
}
}

.point1 {
  animation: fadeOutRightInfinite 1.8s linear infinite;
  -webkit-animation: fadeOutRightInfinite 1.8s linear infinite;
}
.point2{
  animation:fadeOutRightInfinite 1.4s linear infinite;
  -webkit-animation:fadeOutRightInfinite 1.4s linear infinite;
}
.point3{
  animation:fadeOutRightInfinite 1s linear infinite;
  -webkit-animation:fadeOutRightInfinite 1s linear infinite;
}
