.foot{
  background-image: url(../../media/bg-img.png);
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}
.bg{
  background-image: url(../../media/bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}